{% extends "layout.html" %}

{% block content %}
<!-- Marcus Aurelius Antoninus -->
<h3>Marcus Aurelius Antoninus</h3>
<p>
  Marcus Aurelius is said to have been fond of quoting Plato's dictum:<br/>
  <br/>
  <q>
    States will never be happy until rulers become philosophers or philosophers
    become rulers.
  </q><br/>
  <br/>
  Those who have written about him have rarely been able to resist applying it
  to Marcus himself. And indeed, if we seek Plato's philosopher-king in the
  flesh we could hardly do better than Marcus, the ruler of the Roman Empire
  for almost two decades and author of the immortal Meditations. Yet the title
  is one that Marcus himself would surely have rejected. He never thought of
  himself as a philosopher. He would have claimed to be, at best, a diligent
  student and a very imperfect practitioner of a philosophy developed by
  others.
</p>
<!--  -->
<h3>Philosophical Background</h3>
<p>
  The composition of the Meditations is normally dated to the 170s - Marcus'
  last decade. That this was a dark and stressful period for him can hardly
  be doubted. In the ten years between 169 and 179 he had to cope with
  constant fighting on the frontier, the abortive revolt of Cassius, and the
  deaths of his colleague Verus; his wife, Faustina; and others. Though he
  could hardly have anticipated the century of turmoil that would follow his
  death, he may have suspected that his son and successor, Commodus, was not
  the man he hoped. That in these circumstances Marcus should have sought
  consolation in philosophy is only natural.
</p>
<p>
  The quotes are based on the new translation by Gregory Hays.
</p>
{% endblock %}
