{% extends "layout.html" %}

{% block content %}
<!-- Marcus Aurelius -->
<h3>Marcus Aurelius</h3>
<p>
  Born Marcus Annius Verus in A.D. 121, he was brought up by his grandfather
  because his father passed away when he was very young.
</p>
<p>
  When he was sixteen, a series of events would lead him to the throne. The
  reigning emperor Hadrian was childless and became ill. He chose the childless
  senator Antoninus as a successor, under the condition that the senator adopt
  Marcus and Lucius Verus. Marcus took the name of his adopted father, and
  became Marcus Aurelius Antoninus.
</p>
<p>
  In 161, Antoninus died, and left Marcus as his successor along with Lucius
  Verus as co-regent. He would be the ruler of the Roman Empire for almost
  twenty years.
</p>
<p>
  Marcus Aurelius is said to have been fond of quoting Plato's dictum:<br/>
  <!-- <br/> -->
  <q>
    States will never be happy until rulers become philosophers or philosophers
    become rulers.
  </q>
  <!-- <br/> -->
</p>
<!-- Background -->
<h3>Background</h3>
<p>
  Meditations is believed to be composed during the last ten years of Marcus’
  life, that is, from 169 to 170.
</p>
<p>
  This was a stressful period for Marcus as he fought battles outside the
  frontier against the barbarian tribes, and civil wars inside the border
  against rivals.
</p>
<p>
  This was a dark period for Marcus as he witnessed the deaths of his colleague
  Verus, and his cherished wife Faustina.
</p>
<!-- Note -->
<h3>Note</h3>
<p>
  The quotes are based on the new translation of <a href="https://www.amazon.com/Meditations-New-Translation-Marcus-Aurelius/dp/0812968255/ref=sr_1_2?ie=UTF8&qid=1551106058&sr=8-2&keywords=meditations+gregory+hays" target="_blank">
    Meditations by Gregory Hays</a>.
</p>
{% endblock %}
